language: php
sudo: false
php:
  - "5.6"
  - "7.3"
  - "7.4"
env:
  - DOKUWIKI=master
  - DOKUWIKI=stable
  - DOKUWIKI=old-stable
before_install:
  - "wget https://raw.github.com/splitbrain/dokuwiki-travis/master/travis.sh"
install:
  - "sh travis.sh"
script:
  - "cd _test && phpunit --stderr --group plugin_imagemap"
