div.dokuwiki div.imapcontent {
    display: none;
}

@media aural,braille,tty {
  .dokuwiki div.imapcontent {
	  display: block;
  }
  .dokuwiki img.imap {
	  display: none;
  }
}

#only_works_with_this_empty_style {
}

.imagemap_black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:20;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#only_works_with_this_empty_style_2 {
}

.imagemap_white_overlay {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 6px;
	border: 5px solid black;
	background-color: white;
	z-index:20;
	overflow: auto;
}